.project-card {
  margin: 40px 0;
  text-align: center;
  min-height: 250px;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-photo {
  width: 40vw;
  height: 100%;
  background-size: cover;
  border-radius: 4px;
  box-shadow: 2px 2px 11px 1px rgba(0,0,0,0.4);
  -webkit-box-shadow: 2px 2px 11px 1px rgba(0,0,0,0.4);
  -moz-box-shadow: 2px 2px 11px 1px rgba(0,0,0,0.4);
}

.project-photo:hover {
  box-shadow: 4px 4px 11px 1px rgba(0,0,0,0.5);
  -webkit-box-shadow: 4px 4px 11px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 4px 4px 11px 1px rgba(0,0,0,0.5);
}

.project-info {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-info h3 {
  border-bottom: 1px solid rgba(0,0,0,0);
  transition: 300ms;
}

.project-info h3:hover {
  border-bottom: 1px solid black;
}

.stack {
  display: flex;
  gap: 8px;
  margin: 8px 0;
}

.stack-skill {
  position: relative;
  width: 32px;
  height: 32px;
}

.subtitle {
  color: rgb(100, 100, 100);
}

.role {
  color: rgb(87, 0, 0);
  font-weight: bold;
}

.github-logo:hover {
  opacity: .7;
}

@media (max-width: 1200px) {
  .project-info {
    flex-grow: 1;
  }
}

@media (max-width: 1040px) {
  .project-card {
    flex-direction: column;
    height: 70vh;
  }

  .project-photo {
    width: 100%;
  }
}
